@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700,800,900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.chatsifi {
  font-weight: 800;
  color: black !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: #FFFFFF !important;
  -webkit-box-shadow: 0px 3px 15px #00000029;
          box-shadow: 0px 3px 15px #00000029;
}

.nav-item a {
  color: black !important;
  font-weight: 500;
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-sub .hero-img {
  width: 50%;
}

.hero .lead-para {
  color: #0000008A;
  opacity: 0.8;
  z-index: -1;
  width: 80%;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
}

.about .lead {
  color: #0000008A;
  opacity: 0.8;
  z-index: -1;
  width: 80%;
  font-size: 17px;
}

.team {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .lead {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.team .about-card {
  width: 300px;
  max-width: 85%;
  margin: 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 3px 3px 10px #00000017;
          box-shadow: 3px 3px 10px #00000017;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .my-photo {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.subscribe {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
}

.footer-info {
  padding-top: 50px;
}

.footer-info p {
  opacity: 0.6;
}

.footer-info .lead a i {
  color: #FFFFFF !important;
}

@media (max-width: 1000px) {
  .hero {
    text-align: center;
  }
  .chat-anonymously {
    margin-top: 80px;
    text-align: center !important;
  }
  .chat-anonymously .lead-para {
    margin-left: auto;
    margin-right: auto;
  }
  .about {
    padding: 4rem 0;
  }
  .cta {
    text-align: center;
  }
  .cta p {
    margin: 0 auto;
  }
  .about-card {
    margin-top: 3rem;
    height: 350px !important;
  }
  .subscribe {
    padding: 4rem 0;
  }
  .subscribe .img-phone {
    margin-bottom: 4rem;
  }
  .subscribe .sub-text {
    text-align: center;
  }
}
/*# sourceMappingURL=homePage.css.map */